.gallery {
  list-style: none;
  padding: 24px 15px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 1128px;
}

.gallery-image {
  width: 360px;
  height: 200px;

  object-fit: cover;
}
.custom-cursor {
  cursor: url('./cursor.svg'), auto;
}

.gallery-image:hover,
.gallery-image:focus {
  width: 376px;
  height: 208px;
  margin: -4px -8px;
}
